# Azure
AZURE_SUBSCRIPTION_ID=
AZURE_TENANT_ID=
AZURE_RESOURCE_GROUP=rg-iot-manufacturing-analytics
AZURE_LOCATION=eastus

# ADLS Gen2
ADLS_ACCOUNT_NAME=stiotmfgwaqas01
ADLS_FILESYSTEM_BRONZE=bronze
ADLS_FILESYSTEM_SILVER=silver
ADLS_FILESYSTEM_GOLD=gold
ADLS_FILESYSTEM_LANDING=landing

# Azure Data Factory
ADF_FACTORY_NAME=adf-iot-mfg-waqas01
ADF_PIPELINE_NAME=pl_ingest_manufacturing_iot

# Databricks
DATABRICKS_HOST=https://adb-7405610081329680.0.azuredatabricks.net
DATABRICKS_TOKEN=
DATABRICKS_CLUSTER_ID=
DATABRICKS_JOB_ID=121911173786629
ADLS_ACCOUNT_KEY=

# Synapse
SYNAPSE_WORKSPACE_NAME=syn-iot-mfg-wus2
SYNAPSE_SQL_ENDPOINT=syn-iot-mfg-wus2-ondemand.sql.azuresynapse.net
SYNAPSE_SQL_USER=sqladminuser
SYNAPSE_SQL_PASSWORD=
SYNAPSE_DATABASE=manufacturing_dw

# MLflow
MLFLOW_TRACKING_URI=
MLFLOW_EXPERIMENT_NAME=predictive-maintenance

# Airflow
AIRFLOW_HOME=./src/orchestration/airflow
